.FontCanvas-container {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    overflow: visible;
}

.FontCanvas-container > * {
    position: absolute;
    width: 100%;
}

.FontCanvas-reference {
    opacity: 30%;
}